h2,h3
{
	text-align: center;
}


body
{
	color:white;
	background-color:white;
	background-image:url(images/fond.png);
	background-attachment:fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}


/*couleur lien*/
a
{
	color:white;  
}



/*position logo*/
#logo_titre
{
	text-align: left;
	margin-left: 1cm;
	margin-bottom: 0.9cm;
	margin-top: 0.5cm;
	display:inline-table;
	
}

h1
{
	display:table-cell;
	float: right;
	margin-top: 1cm;
	margin-left: 1cm;
}
#logo
{
	display:table-cell;
	float: left;
}


/*menu du site*/
#onglets 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#onglets_li 
{
    float: left;
}

#onglets_li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#onglets_li a:hover:not(.active) 
{
    background-color: #111;
}

.active 
{
    background-color: #87CEEB;
}



/*poisitionner le video et le txt*/
#conteneur_txt_video
{
	display:inline-table;
}
#video
{
	display:table-cell;
	float: right;
	margin-top: 1cm;
	margin-right: 1cm;
}
#txt_home
{
	display:table-cell;
	float: left;
	margin-top: 1cm;
	margin-bottom: 8cm;
	margin-left: 1cm;
	
}
#sub_text_home
{
    float: left;
    text-align: justify;
    text-justify: inter-word;
    Line-Height: 1.5;
}
#trait_home
{
	float: left;
	height: 3px; 
	color: #839D2D; 
	width: 22%;
}



#enzyme_bouton
{
	background-color:transparent;
	border:none;
	color:white;
	text-align: center;
	font-size: 50 px;
	font-weight: bold;
}

#Name_Enzyme
{
	display:inline-table;
	margin-top: 0.3cm;
}
