h1,h2,h3
{
  text-align: center;
}

body
{
  color:white;
  background-color:white;
  background-image:url(images/fond.png);
  background-attachment:fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

}

a
{
	color:white;  
}

#logo
{
	text-align: center;
}

#onglets 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#onglets_li 
{
    float: left;
}

#onglets_li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#onglets_li a:hover:not(.active) 
{
    background-color: #111;
}

.active 
{
    background-color: #87CEEB;
}
